@{
  Layout = "_Layout";
}
@using Factory.Models;
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      Machine Details
    </h1>
    <button class="btn btn-outline-info" onclick="window.location.href='/machines';">View all Machines</button>
    



  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5>Licensed Engineers</h5>
        </div>
        <div class="card-body">
          @if(Model.EngineerMachines.Count == 0)
          {
            <p>@Model.Name has no Engineers Licensed.</p>
          }
          <ul>
            @foreach (EngineerMachine em in @Model.EngineerMachines)
            {
                <li>@Html.ActionLink(em.Engineer.Name,"details","engineers", new {id = em.EngineerId}) | @Html.ActionLink("Remove","removeEngineer", new {id = em.EngineerMachineId}) </li>
            }
          </ul>
          <div>
            <button class="btn btn-info" onclick="window.location.href='/machines/addEngineer/@Model.MachineId';">Link an Engineer</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5>Details</h5>
        </div>
        <div class="card-body">
          <h5>Name: @Model.Name</h5>
          <h5>Description: @Model.Description</h5>
          <div>
            <button class="btn btn-info" onclick="window.location.href='/machines/edit/@Model.MachineId';">Edit</button>
            <button class="btn btn-info" onclick="window.location.href='/machines/delete/@Model.MachineId';">Delete</button></div>
        </div>
      </div>
    </div>
  </div>
  
   @Html.PartialAsync("Header")
  @Html.PartialAsync("Footer") 

</div>