@{
  Layout = "_Layout";
}
@using Factory.Models;
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      Engineer Details
    </h1>
    <button class="btn btn-outline-info" onclick="window.location.href='/engineers';">View all Engineers</button>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5>Licensed Machines</h5>
        </div>
        <div class="card-body">
          @if(Model.EngineerMachines.Count == 0)
          {
            <p>@Model.Name has no Machines licensed.</p>
          }
          <ul>
            @foreach (EngineerMachine em in @Model.EngineerMachines)
            {
                <li>@Html.ActionLink(em.Machine.Name,"details","machines", new {id = em.MachineId}) | @Html.ActionLink("Remove","removeMachine", new {id = em.EngineerMachineId})</li>
            }
          </ul>
          <div>
            <button class="btn btn-info" onclick="window.location.href='/engineers/addMachine/@Model.EngineerId';">Link a Machine</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5>Details</h5>
        </div>
        <div class="card-body">
          <h5>Name: @Model.Name</h5>
          <h5>Description: @Model.Description</h5>
          <div>
            <button class="btn btn-info" onclick="window.location.href='/engineers/edit/@Model.EngineerId';">Edit</button>
            <button class="btn btn-info" onclick="window.location.href='/engineers/delete/@Model.EngineerId';">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  


</div>
  @Html.Partial("Header")
  @Html.Partial("Footer")  