@{
  Layout = "_Layout";
}
<script src="~/js/search.js"></script>
@using Factory.Models;

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Search Results</h1>
  </div>
  <div id="landing-page">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h5>Licensed Engineers</h5>
          </div>
          <div class="card-body">
            @if(Model["Engineers"].Count == 0)
            {
              <p>There are no Licensed Engineers.</p>
            }
            <ul>
              @foreach (Engineer e in @Model["Engineers"])
              {
                @if(@e.EngineerMachines.Count > 0)
                {
                  <li>@Html.ActionLink(e.Name,"details","engineers", new {id = e.EngineerId})  <a href="#" class="toggle-eng" id="eid-@e.EngineerId">+</a> </li>
                }
                else
                {
                  <li>@Html.ActionLink(e.Name,"details","engineers", new {id = e.EngineerId}) </li>
                }
                
                <ul class="start-hidden" id="ul-e-@e.EngineerId"> 
                  <h6>Licensed Machines</h6>
                  
                  @foreach (EngineerMachine engineeringMachine in e.EngineerMachines)
                  {
                      <li>  @engineeringMachine.Machine.Name</li>
                  }
                
                </ul>
              }
            </ul>
            <div>
              <button class="btn btn-info" onclick="window.location.href='/engineers/create';">New Engineer</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h5>Machines</h5>
          </div>
          <div class="card-body">
            @if(Model["Machines"].Count == 0)
            {
              <p>Factory has no Machines.</p>
            }
            <ul>
              @foreach (Machine m in @Model["Machines"])
              {
                 @if(@m.EngineerMachines.Count > 0)
                {
                  <li>@Html.ActionLink(m.Name,"details","machines", new {id = m.MachineId}) <a href="#" class="toggle-mac" id="mid-@m.MachineId">+</a></li>
                }
                else
                {
                  <li>@Html.ActionLink(m.Name,"details","machines", new {id = m.MachineId})</li> 
                }
                
                <ul class="start-hidden" id="ul-m-@m.MachineId"> 
                  <h6>Licensed Engineers</h6>
                  
                  @foreach (EngineerMachine engineeringMachine in m.EngineerMachines)
                  {
                      <li>  @engineeringMachine.Engineer.Name</li>
                  }
                
                </ul>
                 
                 
                  
              }
            </ul>
            <div>
              <button class="btn btn-info" onclick="window.location.href='/machines/create';">New Machine</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  @Html.Partial("Header")
  @Html.Partial("Footer")
</div>